{% extends "layout.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<div class="fluid-container px-5">

    {% if validlink %}
        <h2>Create new password</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Change password">
        </form>
    {% else %}
        <p>The password reset link was invalid. Please request a new password reset.</p>
    {% endif %}

</div>
{% endblock %}
