{% extends "layout.html" %}
{% load static %}
{% block title %}{{game}}: Character Overlay{% endblock %}

{% block content %}

<div class="container-fluid my-2 px-5 no_highlight">
    <h2>{{game}}: Character Overlay</h2>
    <input id="chroma_checkbox" class="no_highlight" type="checkbox" checked="true">
    <label for="chroma_checkbox" class="no_highlight">Toggle chroma key</label>

    <div class="row my-3">

        {# Split imgs between top and side containers if more than 60 characters: #}
        {% if char_num > 60 %}

        <div class="col-11 left p-0" id="top_char_container">
            {% for x in char_data|slice:':62' %}
                {{ x|serve_char_img }}
            {% endfor %}
        </div>

        <div class="col-1 right p-0" id="side_char_container">
            {% for x in char_data|slice:'62:' %}
                {{ x|serve_char_img }}
            {% endfor %}
        </div>

        {% else %}
            <div class="p-0" id="lone_char_container">
            {% for x in char_data %}
                {{ x|serve_char_img }}
            {% endfor %}
            </div>

        {% endif %}

        {% if char_num == 0 %}
            <p class="mx-3">No characters exist for {{game}} yet, please check back later!</p>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'mentor/scripts/char_overlay.js' %}"></script>
{% endblock %}