{% extends "layout.html" %}
{% load static %}
{% block title %}{{game}}{% endblock %}

{% block content %}

<div class="container-fluid">
    <h2>{{game.title}}</h2>
    <h4>Characters:</h4>

    <div class="row">

        {% if char_num > 4 %}

        <div class="col-11 left border p-0">
            {% for char in game.character_set.all|slice:':4' %}
                <figure>
                    <!--  Display character image if found, else display placeholder:  -->
                    <img class="char_img fig-img img-fluid" src="{{ char.img_url|img_exists }}" alt="{{char.name}}">
                    <figcaption>{{char}}</figcaption>
                </figure>
            {% endfor %}
        </div>

        <div class="col-1 right border p-0">
            {% for char in game.character_set.all|slice:'4:' %}
                <figure>
                    <!--  Display character image if found, else display placeholder:  -->
                    <img class="char_img fig-img img-fluid" src="{{ char.img_url|img_exists }}" alt="{{char.name}}">
                    <figcaption>{{char}}</figcaption>
                </figure>
            {% endfor %}
        </div>

        {% else %}
            <div class="col-11 left border p-0">
            {% for char in game.character_set.all %}
                <figure>
                    <!--  Display character image if found, else display placeholder:  -->
                    <img class="char_img fig-img img-fluid" src="{{ char.img_url|img_exists }}" alt="{{char.name}}">
                    <figcaption>{{char}}</figcaption>
                </figure>
            </div>
        {% endfor %}

        {% endif %}
    </div>
</div>

{% endblock %}