{% extends "layout.html" %}
{% load static %}
{% block title %}{{game}}{% endblock %}

{% block content %}

<div class="container-fluid my-2">
    <h2>{{game.title}}</h2>

    <div class="row">

        {% if char_num > 60 %}

        <div class="col-11 left p-0" id="top_char_container">
            {% for x in char_data|slice:':66' %}
                {{ x|serve_char_img }}
            {% endfor %}
        </div>

        <div class="col-1 right p-0" id="side_char_container">
            {% for x in char_data|slice:'66:' %}
                {{ x|serve_char_img }}
            {% endfor %}
        </div>

        {% else %}
            <div class="p-0" id="lone_char_container">
            {% for x in char_data %}
                {{ x|serve_char_img }}
            {% endfor %}
            </div>

        {% endif %}
    </div>
</div>

{% endblock %}