{% extends "layout.html" %}

{% block title %}{{game}}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>{{game.title}}</h2>
            <br/>

            <h4>Characters:</h4>
            {% for char in game.character_set.all %}
                <figure>
                    <!--  Display character image if found, else display placeholder:  -->
                    <img class="char_img fig-img img-fluid" src="{{ char.img_url|img_exists }}" alt="{{char.name}}">
                    <figcaption>{{char}}</figcaption>
                </figure>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}